/* base style */
:root {
    /* Font */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    /* Text color */
    --primary-slate-txt-color: #434455;
    --secondary-dark-txt-color: #2E2F42;
    --accent-ocean-txt-color: #404BBF;
    --descr-ligh-txt-color: #E7E9FC;
    --iris-brand-txt-color: #4D5AE5;
    --white-txt-color: #FFFFFF;
    /* Background color */
    --dark-bcg-color: #2E2F42;
    --light-bcg-color: #F4F4FD;
    --white-bcg-color: #FFFFFF;
    --iris-bcg-color: #4D5AE5;
    --ocean-bcg-color: #404BBF;
    /* Others */
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-slate-txt-color);
}
/* ============Components============= */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-dark-txt-color);
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-dark-txt-color);
}

.section-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ============/Components============= */

/* ============Header============= */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-dark-txt-color);
}
.logo-part {
    color: var(--iris-brand-txt-color);
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-ocean-txt-color);
}

.menu-link.current {
    color: var(--accent-ocean-txt-color);
}

.contact-link{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-ocean-txt-color);
}
/* ============/Header============= */

/* ============Hero============= */
.hero {
    background-color: var(--dark-bcg-color);
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-txt-color);
}

.main-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-txt-color);
    background-color: var(--iris-bcg-color);
    cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
    background-color: var(--ocean-bcg-color);
}
/* ============/Hero============= */

/* ============Our team section============ */
.team-section {
    background-color: var(--light-bcg-color);
}
.team-item {
    background-color: var(--white-bcg-color);
}
/* ============/Our team section============ */
/* ============footer============ */
.footer-section {
    background-color: var(--dark-bcg-color);
}
.logo-light {
    color: var(--white-txt-color);
}

.section-description-light {
    color: var(--descr-ligh-txt-color)
}
/* ============footer============ */

/* ==========Portfolio============= */
.filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    align-items: center;
    text-align: center;
    color: var(--iris-brand-txt-color);
    background-color: var(--light-bcg-color);
    cursor: pointer;
    display: flex;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--ocean-bcg-color);
    color: var(--white-txt-color);
}


/* ==========/Portfolio============= */





